body {
  margin: 0;
  font-family: 'Quasimoda', 'ヒラギノ角ゴ ProN W3', 'sans-serif';
  color: #333;
}
h1 {
  margin: 0;
}
a {
  text-decoration: none;
  color: #333;
  margin: 0;
}
p {
  margin: 0;
}
img {
  max-width: 100%;
  vertical-align: bottom;
}
.font-sm,
.sub-title {
  font-size: 14px;
}
.font-md {
  font-size: 17px;
}
.font-lr {
  font-size: 20px;
}
.font-lg,
.main-title {
  font-size: 70px;
}
.mb-sm {
  margin-bottom: 16px !important;
}
.mb-lg {
  margin-bottom: 80px !important;
}
.pb-sm {
  padding-bottom: 16px !important;
}
.pb-lg {
  padding-bottom: 80px !important;
}
.content-width {
  width: 90%;
  margin: 0 auto;
  max-width: 1070px;
}
.main-title {
  font-weight: 600;
  margin-bottom: 0;
  display: block;
}
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
@media (min-width: 600px) {
  .flex {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}
@media (min-width: 960px) {
  .font-sm {
    font-size: 16px;
  }
  .font-md {
    font-size: 19px;
  }
  .font-lr {
    font-size: 23px;
  }
  .font-lg {
    font-size: 80px;
  }
  .mb-lg {
    margin-bottom: 150px !important;
  }
  .pb-lg {
    padding-bottom: 150px !important;
  }
}
