/******************************************************************

Stylesheet: 600px以上のタブレットやモニタで適用

******************************************************************/
.flex {
  flex-direction: row; //二つ横ならびに
  flex-wrap: wrap; //二つ以上になると折り返し
}
